@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), serif;
}

h1,h2{
  font-family: var(--font-inter), serif;
}
